<nav class="navbar">
    <div class="container">
        <a class="title-name" routerLink=""><span class="destaque">Roar</span> Tech </a>
        <div class="navbar-routes">
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="nav-link" routerLink="">Home</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" routerLink="about">About</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" routerLink="contact">Contact</a>
                </li>
                <li class="navbar-item">
                    <a id="login-btn" class="nav-link" routerLink="login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr>