main {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.container {
    display: flex;
    gap: 30px;
}

.login-container {
    background-color: white;
    width: 350px;
    padding: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    text-align: center;
    font-size: 36px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    
}

.input-form {
    background-color: #f9f9ff;
    width: 100%;
    height: 40px;
    border: none;
    border-left: 5px solid var(--primary-color);
    
    
}

.login-btn {
    margin-top: 40px;
    background-color: var(--primary-color);
    color: #f9f9ff;
    font-size: 20px;
    padding: 15px 30px;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    cursor: pointer;
}